///<reference path="../../../../../node_modules/compass-mixins/lib/compass/css3/_box-sizing.scss" />
///<reference path="../_core-variables.scss">

.left-sidebar-layout {

    .before-content.column {
        width: 32%;
        float: left;
    }

    .column:nth-child(2) {
        width: 64%;
        float: right;
        margin: .5em 1em .5em 0;
        @extend %content-box;
    }
}
