///<reference path="../../../../../node_modules/compass-mixins/lib/compass/css3/_box-sizing.scss" />
///<reference path="../_core-variables.scss">

.right-sidebar-layout {

    .before-content.column {
        width: 32%;
        float: right;
    }

    .column:nth-child(2) {
        width: 64%;
        float: left;
        margin: .5em 0 .5em 1em;
        @extend %content-box;
    }
}
