///<reference path="../../../../../node_modules/compass-mixins/lib/compass/css3/_transition.scss" />
///<reference path="../_core-variables.scss">

#sidemenu {
    position: absolute;
    z-index: 9999;
    background-color: $sidemenu-background-color;
    border-style: solid;
    overflow: hidden;
    color: $sidemenu-font-color;
    border-color: $sidemenu-border-color;
    display: none;
    overflow: hidden;
    width: 0;

    @media screen and (max-width: $page-break-medium) {
        display: block;
    }

    a {
        display: block;
        text-decoration: none;
    }

    > ul > li {
        padding: .5em .5em .5em 1.5em;
        font-size: 1.4em;

        border-bottom: {
            style: solid;
            width: 1px;
        }

        li {
            padding: .5em;
            font-size: .8em;
        }
    }

    &.menu-show {
        border-width: 0 2px 0 0;
        padding: 1em;
    }
}