@import "../../_variables.scss";

$pbFirst: 1250px !default;
$pbSecond: 870px !default;
$pbThird: 600px !default;
$pbFourth: 450px !default;

$cFormBackground: $cTwo !default;
$cFormColor: $cOne !default;
$FormGroupBorderWidth: 1px !default;
$FormGroupStyle: solid !default;
$cFormGroupColor: $cOne !default;
$cFormHighlightColor: $cThree !default;
$cFormErrorBackground: #fff !default;
$cFormErrorBorderColor: #f00 !default;
$cFormErrorColor: #000 !default;
$cFormDescriptionColor: $cFormColor !default;

$cPanelBackground:  $cTwo !default;

$anchorColor: $cTwo !default;
$anchorHoverColor: $cThree !default;
$htmlBackgroundColor: $cFour !default;
$headerColor: $cThree !default;

$headerFont: $ffTwo !default;
$headerMenuBackgroundColor: $cOne !default;
$headerMenuAnchorHoverColor: $cThree !default;

$sidemenuBackgroundColor: $cOne !default;
$sidemenuFontColor: $cTwo !default;
$sidemenuBorderColor: $cTwo !default;

$topbarBackgroundColor: $cTwo !default;
$topbarShadowColor: #000 !default;
$topbarAnchorColor: $cOne !default;
$topbarAnchorHoverColor: $cThree !default;

$cMainFont: $cThree !default;
$cMainBackground:$cOne !default;
$cAltBackground: $cFour !default;
$cMainBorder: darken($cOne, 60%) !default;

$cTitleFont: $cOne !default;
$cTitleBackground: darken($cOne, 60%) !default;

$cSliderBackground: $cFour !default;
$cSliderBorder: $cFour !default;