///<reference path="../_publicVariables.scss">
.content-blocks {
    > div {
        border: 1px solid $cMainBorder;
        margin: .5em;
        border-radius: .5em;
        overflow: hidden;
        background-color: $cMainBackground;

        h3 {
            background-color: $cTitleBackground;
            color: $cTitleFont;
            display: block;
            padding: .25em;
            font-size: 1.25em;
        }
    }
}