///<reference path="../_core-variables.scss">
.content-title {
    background-color: $title-background-color;
    color: $title-font-color;
    margin: 0 0 .5em -.5em;
    padding: .25em .5em;
    display: inline-block;
    border-radius: 0 .25em .25em 0;
}