///<reference path="../_publicVariables.scss">
.flexslider {
    width: 80%;
    margin: 6em auto 4em;
    max-width: 500px;

    @media screen and (max-width: $pbFirst) {
        clear: both;
    }
}

.flexslider.content-images {
    background-color: $cSliderBackground;
    border-color: $cSliderBorder;
}