$ffOne: 'Arial' !default;
$ffTwo: 'Times New Roman' !default;
$cOne: #9c62b0 !default;
$cTwo: #848F93 !default;
$cThree: #000 !default;
$headerImage: url('../content/images/layout/logo.png') !default;