///<reference path="../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss">

@import "../../_variables.scss";
$bootstrap-sass-asset-helper: false !default;

//Bootstrap overrides
$gray-base: darken($cOne, 60%);
$gray-light: lighten($gray-base, 46.7%);

$input-color: $cThree;

$brand-primary: darken($cOne, 60%);
$brand-info: $cTwo;
$link-color: $cThree;
$link-hover-color: darken($link-color, 35%);

$navbar-inverse-bg: $cTwo;
$navbar-inverse-link-color: lighten($gray-light, 20%);
$navbar-inverse-link-hover-color: $cThree;
$navbar-inverse-toggle-hover-bg: darken($cOne, 60%);
$navbar-inverse-toggle-icon-bar-bg: $navbar-inverse-link-color;
$navbar-inverse-toggle-border-color: lighten($cOne, 25%);

$panel-default-heading-bg: darken($cOne, 60%);
$panel-default-text: $cOne;
$navbar-default-bg: $cOne;
$panel-bg: $cFour;
$body-bg: $cFour;