<div class="col-xs-12">
    <h2>{{title}}</h2>
    <form name="manageSettingDataType" novalidate angular-validator angular-validator-submit="save(currentItem)">
        <div class="panel-body">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" name="name" id="name" required
                       validate-on="dirty"
                       ng-model="currentItem.name" />
            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="manageSettingDataType.$invalid" 
                    ng-click="">Save</button>
            <a class="btn btn-primary" ui-sref="settingdatatypes">Cancel</a>

        </div>
    </form>
</div>

