<div class="col-xs-12">
    <h2>{{title}}</h2>
    <form name="manageSetting" novalidate angular-validator
          angular-validator-submit="save(currentItem)">
        <div class="panel-body">
            <div class="form-group" ng-if="!currentItem.settingID">
                <label for="name">Name:</label>
                <input class="form-control" name="name" id="name" required
                       validate-on="dirty"
                       ng-model="currentItem.name" />
            </div>
            <div class="form-group" ng-if="currentItem.settingID">
                <label for="name">Name:</label>
                <strong>{{currentItem.name}}</strong>
            </div>
            <div class="form-group" ng-switch on="currentItem.settingDataTypeName">
                <!-- text -->
                <div ng-switch-when="Text">
                    <label for="value">Value:</label>
                    <input class="form-control" name="value" id="value" required
                           validate-on="dirty"
                           ng-model="currentItem.value" />
                </div>
                <!-- date -->
                <div ng-switch-when="Date">
                    <label for="value">Date Value:</label>
                    <input class="form-control" type="date" name="value" id="value" required
                           validate-on="dirty"
                           ng-model="currentItem.value" />
                </div>
                <!-- bool -->
                <div ng-switch-when="Bool" class="checkbox">
                    <label>
                        <input type="checkbox" id="value" name="value" ng-changed="flipValue(currentItem)" ng-checked="currentItem.value === 'true'"
                               >
                    </label>
                </div>
                <!-- html -->
                <div ng-switch-when="Html">
                    <label for="value">Value:</label>
                    <dexcms-html-editor required
                                        ng-model="currentItem.value"></dexcms-html-editor>
                    <span class="control-label text-danger"
                          n-show="!currentItem.value">
                        <strong>
                            <i class="fa fa-times"></i> Required
                        </strong>
                    </span>
                </div>
                <!-- int -->
                <div ng-switch-when="Int">
                    <label for="value">Value:</label>
                    <input class="form-control" pattern="[0-9]*" name="value" id="value"
                           validate-on="dirty"
                           required
                           ng-model="currentItem.value" />
                </div>
                <!-- multiline -->
                <div ng-switch-when="Multiline">
                    <label for="value">Value:</label>
                    <textarea class="form-control" name="value" id="value" required
                              validate-on="dirty"
                              ng-model="currentItem.value"></textarea>
                </div>
                <!-- fourdigitwhole -->
                <div ng-switch-when="FourDigitWhole">
                    <label for="value">Value:</label>
                    <input class="form-control" pattern="[0-9]{4}" name="value" id="value"
                           validate-on="dirty" required
                           ng-model="currentItem.value" />
                </div>
                <!-- email -->
                <div ng-switch-when="Email">
                    <label for="value">Value:</label>
                    <input class="form-control" type="email" name="value" id="value"
                           validate-on="dirty" required
                           ng-model="currentItem.value" />
                </div>
                <!-- password -->
                <div ng-switch-when="Password">
                    <label for="value">Value:</label>
                    <input class="form-control" type="password" name="value" id="value"
                           validate-on="dirty" required
                           ng-model="currentItem.value" />
                </div>
                <!-- File -->
                <div ng-show="currentItem.settingDataTypeName === 'File'">
                    <label for="value">Value:</label>
                    <img ng-if="currentItem.replacementFileName" width="100"
                         ng-src="../tmp/fileUploads/{{currentItem.temporaryFileName }}" />
                    <button ng-show="currentItem.replacementFileName" type="button"
                            class="btn btn-danger" ng-click="removeNewFile()">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <div ng-hide="currentItem.replacementFileName" ngf-drop ng-model="file"
                         class="drop-box"
                         ngf-drag-over-class="dragover" ngf-allow-dir="true"
                         ngf-accept="'.doc,.docx,.pdf'">Drop File here</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <div ng-if="currentItem.value && currentItem.value != 'Pending'">
                        <a ng-href="{{baseUrl + '/' + currentItem.value}}" target="_blank">Previous File</a>
                    </div>
                </div>
                <!-- Image -->
                <div ng-show="currentItem.settingDataTypeName === 'Image'">
                    <label for="value">Value:</label>
                    <img ng-if="currentItem.replacementImageName" width="100"
                         ng-src="../tmp/fileUploads/{{currentItem.temporaryImageName }}" />
                    <button ng-show="currentItem.replacementImageName" type="button"
                            class="btn btn-danger" ng-click="removeNewImage()">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <div ng-hide="currentItem.replacementImageName" ngf-drop ng-model="image"
                         class="drop-box"
                         ngf-drag-over-class="dragover" ngf-allow-dir="true"
                         ngf-accept="'.jpg,.png,.gif'">Drop Image here</div>
                    <div ngf-no-file-drop>Image File Drag/Drop is not supported for this browser</div>
                    <div ng-if="currentItem.value && currentItem.value != 'Pending'">
                        Previous Image: <img ng-if="currentItem.settingDataTypeName === 'Image'" ng-src="{{baseUrl + '/' + currentItem.value}}" />
                    </div>
                </div>
            </div>
            <div class="form-group" ng-hide="!isInstaller">
                <label for="settingDataTypeID">Data Type:</label>
                <select name="settingDataTypeID" id="settingDataTypeID" ng-change="setDataTypeName(currentItem)"
                        validate-on="dirty" required ng-model="currentItem.settingDataTypeID"
                        ng-options="item.settingDataTypeID as item.name for item in settingDataTypes"></select>
            </div>
            <div class="form-group" ng-hide="!isInstaller">
                <label for="settingGroupID">Group:</label>
                <select name="settingGroupID" id="settingGroupID"
                        validate-on="dirty" required ng-model="currentItem.settingGroupID"
                        ng-options="item.settingGroupID as item.settingGroupName for item in settingGroups"></select>
            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="manageSetting.$invalid">Save</button>
            <a class="btn btn-primary" ui-sref="settings">Cancel</a>
        </div>
    </form>
</div>