///<reference path="../_core-variables.scss">
%content-box {
    padding: 1em;
    border-radius: 1em;
    border: 5px solid $main-border-color;
    color: $main-font-color;
    background-color: $main-background-color;
}